:root {
  background-color: black;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./src/assets/Parliament.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

#gove {
  height: 200px;
  width: 200px;
  color: purple;
  margin-bottom: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#image {
  border-radius: 50%;
  border: 10px yellow;
}

#txt {
  background-color: transparent;
  color: white;
  margin-bottom: 30px;
  font-size: large;
}

.upgrades {
  margin-bottom: 20px;
}
